@import (reference) "main";

.ball(@size) {
    width: @size;
    height: @size;
    border-radius: @size / 2;
}

.beach-ball {
    position: absolute;
    .ball(75px);
    background-color: gray;
    border: 1px solid black;
    overflow: hidden;
    .ball-image {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

.small {
    .ball(50px);
}

.large {
    .ball(100px);
}

.x-large {
    .ball(150px);
}